
#toast {

  visibility: hidden;
  opacity: 0;

  background-color: rgba(0, 0, 0, 0.8);
  color: white;

  border-radius: 12px;
  position: fixed;
  z-index: 1;

  padding: 12px 24px;

  right: 20px;
  bottom: 20px;

  font-size: 16px;
  transition-duration: 0.4s;

}

#toast.active {
  visibility: visible;
  opacity: 1;
}
